# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [1]:
# Creating an ordered list of commonly used languages for data science
languages = [
    "Python",
    "R",
    "SQL"
]

# Printing the ordered list
for index, language in enumerate(languages, start=1):
    print(f"{index}. {language}")

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

In [2]:
# Create an ordered list of commonly used libraries in data science
libraries = [
    "NumPy",
    "Pandas",
    "Matplotlib"
]

# Print the ordered list
for index, library in enumerate(libraries, start=1):
    print(f"{index}. {library}")

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
| -----------------  |
| Tool 1             |
| Tool 2             |
| Tool 3             |

 This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

**Popular Languages:**

- SQL
- Scala
- Hive
- Python
- R

## Author

Rudra Kosambi